:root{
    --primary-color: #FFCB5C;
    --secondary-color: #FF8A1F;

    --primary-text-color: black;
    --secondary-text-color: white;

    --primary-font-family: "lust-text", serif;
    --secondary-font-family: "avenir-lt-pro", sans-serif;

    --font-size: 4em;
    --regular-text-size: x-large;
    --title-text-size: xx-large;
    --navigation-font-size: large;

    --container-padding: 0 8vw;
}

* {
  box-sizing: border-box;
  font-family: var(--secondary-font-family);
  font-size: var(--regular-text-size);
}

html {
  scroll-behavior: smooth;
}

body{
    margin: 0;
}

section {
    padding: 5vw 0;
}

.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.4;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


/*--------------Navigation section--------------*/

.top_nav{
    height: 70px;
    background-color: #000000c9;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
    transition: 2s ease;
    overflow-x: hidden;
    overflow-y: hidden;

  }
  
  .top_nav_desktop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .yes-bar{
    padding-left: 10px;
  }
  
  .top_link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .top_nav ul{
    list-style: none;
  }
  
  .top_nav li{
    padding-right: 20px;
  }
  
  .icons{
    position: sticky;
    top:20vh;
    display: flex;
    justify-content: end;
    padding-right: 20px;
  }
  
  .icons li{
    list-style: none;
    font-size: xx-large;
    padding-top: 15px;
    cursor: pointer;
  }
  
  .icons ul{
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .v-line{
    border-left: 2px solid cyan;
    height: 50px;
  }
  
  nav a{
    text-decoration: none;
    color: var(--navcolor);
    font-size: var(--navigation-font-size);
  }

  nav a:hover{
    color:var(--secondary-text-color);
  }
  
  .fa-bars{
    display:none !important;
    cursor: pointer;
    color: var(--navcolor);
  }
  
  #mobile_nav{
    width:100%;
    height:200px;
    opacity:0;
    transition: 2s ease-in-out;
    position: absolute;
    top: 50px;
    right: -100%;
  }
  
  #mobile_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    transition: 3s ease;
    opacity:0;
    position: absolute;
    right: -100%;
  }



/*--------------Hero section--------------*/

.hero_section{
    background-image: url("contents/heroBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    height: 90vh;
}

.hero_section div{
    justify-items: center;
    text-align: center;
}

.hero_section p{
    font-family: var(--primary-font-family);
    font-size: 15vw;
    color: var(--secondary-color);
    margin: 0;
}

.hero_section span{
    font-weight: bold;
}

.hero-name{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    align-items: center;
}

.hero-name p{
    position: relative;
    top:0;
    animation: float 3.5s infinite ease-in-out;
}

@keyframes float {
    50% {
        top: 15px;
    }    
    100% { 
        top: 0px;
    }
}

/*--------------About section--------------*/

.about_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--container-padding);
    
}

.about_content img{
    width: 75%;
    max-width: 700px;
    height: fit-content;
    
}

.about_text p{
    font-family: var(--primary-font-family);
    font-size: var(--font-size);
    color: var(--secondary-color);
    margin-top: 0;
}


/*--------------Skill section--------------*/

.skill_section{
    justify-items: center;
}

.skill_content{
    padding: var(--container-padding);
    width: 100%;
    max-width: 2100px;
}

.skill_head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 150px;
}

.skill_head button{
    border-radius: 6px;
    border: 4px solid black;
    background: var(--secondary-color);
    display: inline-block;
    padding: 20px 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--secondary-text-color);
    font-family: var(--primary-font-family);
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

.skill_head div, .skill_head svg{
    width: 100%;
    pointer-events: none;
}

.skill_head div{
    position: absolute;
    top: 70px;
}

.skill_button_content{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.skill_button_content_top{
    display: grid;
    grid-gap: 100px;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
}

.skill_button_content_bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill_button_content_top div, .skill_button_content_bottom div{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 15px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.skill_button_content_top button, .skill_button_content_bottom button{
    background-color: var(--primary-color);
    color: black;
    padding: 7px 18px;
    border: 3px solid white;
    text-transform: uppercase;
    border-radius: 5px;
    outline: 2px solid var(--primary-color);
    outline-offset: 0;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: large;
}

.skill_button_content_top button:hover, .skill_button_content_bottom button:hover{
    color: var(--secondary-color);
    background-color: white;
}

/*--------------Project section--------------*/

.project_box{
    justify-items: center;
    padding: var(--container-padding);
}

.project_box > p{
    font-family: var(--primary-font-family);
    font-size: var(--font-size);
    color: var(--secondary-color);
    margin-top: 0;
    text-align: center;
}

.project-content{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
  }

.proj-naming{
    color: var(--projname);
}

.proj{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 1500px;
    height: 100%;
    align-content: center;
}

.proj-img{
    height: auto;
    width: 100%;
    border: solid #00000000 5px;
    border-radius: 25px;
    scale:1;
    transition: 0.5s ease-in-out;
    padding: 0 50px;
}


.proj-text{
    text-align: left;
    padding: 0 50px;
    align-content: center;
}

.proj-text p{
    font-family: var(--primary-font-family);
    font-size: var(--title-text-size);
    color: var(--secondary-color);
}

.proj-github-button{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
    padding: 10px 35px;
    border-radius: 25px;
    margin: 20px 0;
    scale: 1;
    transition: 0.5s ease-in-out;
}

.proj-github-button:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: var(--primary-text-color);
    color: var(--primary-color);
}

.proj:hover{
    border-radius: 25px;

    & .proj-img{
        scale:0.95;
        transition: 0.5s ease-in-out;
    }
}



/*--------------Certification section--------------*/

.certification-box{
    justify-items: center;
    padding: var(--container-padding);
}

.certification-box p{
    font-family: var(--primary-font-family);
    font-size: var(--font-size);
    color: var(--secondary-color);
    margin-top: 0;
    text-align: center;
}

.certification-box a{
    text-decoration: none;
}

.certification-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.certification-top-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 60px;
}

.certification-bottom-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.each-card{
    width: fit-content;
    height: 250px;
    background: var(--primary-color);
    border: var(--primary-color) 5px solid;
}

.each-card img{
    height: 100%;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.cetificate-name{   
    width: min-content;
    position: relative;
    bottom: 100px;
    left: 0;
    margin: 0 auto;
    color: var(--primary-text-color);
    text-align: center;
    z-index: 20;
    opacity: 0;
    transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1);

    & span{
        font-weight: bold;
        font-size: xx-large;
    }
}


.each-card:hover .cetificate-name{
    opacity: 1;
    bottom: 190px;
}

.each-card:hover img{
    opacity: 0.2;
    filter: blur(5px);
}


/*--------------Certification Mobile section--------------*/

/*.certification-mobile-content{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    overflow: hidden;
}*/

.certification-swiper-container{
    display: none;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide div{
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.certification-mobile-box {
  width: 600px;
  height: 300px;
}
.certification-mobile-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate-mobile-card a{
    text-decoration: none;
    height: 300px;
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.certificate-mobile-card img{
    width: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px gray;
}



/*--------------Contact section--------------*/

.contact-box{
    justify-items: center;
    padding: var(--container-padding);
}

.contact-box p{
    font-family: var(--primary-font-family);
    font-size: var(--font-size);
    color: var(--secondary-color);
    margin-top: 0;
    text-align: center;
}

.contact-title{
    width: 85%;
    max-width: 1000px;
    text-align: center;
}

.contact_container{
    justify-items: center;
    width: 100%;
    margin: 50px 0;
  }

form{
    background: var(--primary-color);
    width: 80%;
    max-width: 900px;
    color: var(--primary-text-color);
    border-radius: 20px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--secondary-text-color);
    transition: box-shadow 0.9s ease-in-out;
    box-shadow: 0px 0px 0px 10px var(--primary-color);
  }
  
  form input, textarea{
    width: 80%;
    padding: 8px 15px;
    margin: 10px 0;
    background-color: var(--secondary-text-color);
    border: none;
    border-radius: 10px;
  }
  
  form input:hover, textarea:hover{
    box-shadow: 0px 0px 10px var(--primary-text-color);
  }
  
  form button{
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    padding: 10px 35px;
    margin-top: 40px;
    cursor: pointer;
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    transition: 0.5s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
  
  form button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
  }


/*--------------Footer section--------------*/

hr{
    border-block-color: var(--secondary-color);
    width: 40%;
}

footer{
    justify-items: center;
    height: 100px;
}

footer p, b{
    font-size: large;
    text-align: center;
}

footer b{
    color: var(--secondary-color);
}





/*--------------Responsive Media section--------------*/



 
  @media only screen and (max-width: 1320px){
    
  }
  
  @media only screen and (max-width: 1100px){

    .about_content{
        grid-template-columns:none;
    }

    .about_img{
        display: flex;
        justify-content: center;
    }
    
    .about_text{
        text-align: center;
    }

    .proj{
        grid-template-columns: none;
    }

    .certification-content{
        display: none;
    }

    .certification-swiper-container{
        display: block;
    }
    
  }
  
  @media only screen and (max-width: 800px){

    :root{
        --font-size: 3em;
    }

    section {
        padding: 10vw 0;
    }
    
    .hero_section p{
        font-size: 20vw;
    }
    
    .icons li{
        font-size: large;
    }
    
    .fa-bars{
        display: block !important;
    }
    
    .no-bar{
        display: none;
    }

    .skill_head div{
        top: 20px;
    }

    .certification-mobile-box {
        width: auto;
    }


  }
  
  @media only screen and (max-width: 550px){

    :root{
        --font-size: 1.5em;
        --regular-text-size: medium;
        --title-text-size: x-large;
        --container-padding: 0 2vw;
    }

    .skill_content{
        padding: 0 5vw;
    }

    .skill_button_content_top{
        gap: 50px
    }

    .skill_head {
        margin-bottom: 100px;
    }

    .skill_head div{
        top: -50px;
    }

    .skill_button_content_top button, .skill_button_content_bottom button{
        font-size: small;
    }

    form{
        padding: 20px 5px;
    }

    .form input {
        width: 90%;
    }
    
  }
  
