:root {
  --bgblue: #b7c2cb;
  --tpwhite: rgba(255, 255, 255, 0.2);
  --nav: #272b4391;
  --textcolor: #000000;
  --navcolor: white;
  --emphasis: #466666;
  --beforeshadow: #009cff;
  --shadow: #5696a0;
  --overlap: #132e41d6;
  --projname: #E86A6A;
}

  
  *{
    font-family:'Courier New', monospace;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  body{
    margin:0;
    background-color: var(--bgblue);
    color: var(--textcolor);
    overflow-x: hidden;
  }

  body p, span{
    font-size: large;
  }
  
  .top_nav{
    background-color: var(--nav);
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
    height: 50px;
    transition: 2s ease;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .top_nav_desktop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .yes-bar{
    padding-left: 10px;
  }
  
  .top_link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .top_nav ul{
    list-style: none;
  }
  
  .top_nav li{
    padding-right: 20px;
  }
  
  .icons{
    position: sticky;
    top:20vh;
    display: flex;
    justify-content: end;
    padding-right: 20px;
  }
  
  .icons li{
    list-style: none;
    font-size: xx-large;
    padding-top: 15px;
    cursor: pointer;
  }
  
  .icons ul{
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .v-line{
    border-left: 2px solid cyan;
    height: 50px;
  }
  
  nav a{
    text-decoration: none;
    color: var(--navcolor);
  }
  
  .fa-bars{
    display:none !important;
    cursor: pointer;
    color: var(--navcolor);
  }
  
  #mobile_nav{
    width:100%;
    height:100px;
    opacity:0;
    transition: 2s ease;
    position: absolute;
    top: 50px;
    right: -100%;
  }
  
  #mobile_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    transition: 3s ease;
    opacity:0;
    position: absolute;
    right: -100%;
  }
  
  /*-------------home---------------*/
  .home_container{
    height: 90vh;
    min-height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    font-size: 80px;
    padding-left: 20vw;
    padding-right: 40px;
    background: linear-gradient(to bottom, transparent, var(--bgblue)), url("contents/desktop_background.jpg");
    background-size: cover;
  }
  
  .naming{
    color: var(--emphasis);
    font-size: 80px;
    font-weight: bold;
    font-family: Geneva, Verdana, sans-serif;
  }
  
  .small-naming{
    font-size: 50px;
    font-family: Geneva, Verdana, sans-serif;
  }
  
  .smaller-naming{
    font-size: 18px;
  }
  
  /*--------------------------------*/
  /*-------------about---------------*/
  .about_container{
    height: 60vh;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 16vw;
  }
  
  .about-paragraph{
    width:30vw;
    text-align: center;
  }

  .about-paragraph h1{
    border: 0px solid var(--beforeshadow);
    transition: border 0.9s ease-in-out;
  }
  
  .about_container:hover .about-paragraph h1{
    transition: border 0.9s ease-in-out;
    border-bottom: 5px solid var(--emphasis);
  }
  
  .pfp{
    width: 200px;
    max-width:500px;
    border: 5px solid var(--emphasis);
    box-shadow: 0px 0px 1px 0px var(--beforeshadow);
    transition: box-shadow 0.9s ease-in-out;
    padding: 20px;
  }

  .about_container:hover .pfp{
    transition: box-shadow 0.9s ease-in-out;
    box-shadow: 20px -20px 1px 0px var(--shadow);
  }
  
  /*--------------------------------*/
  /*-------------project---------------*/
  .project_container{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .proj-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
  }
  
  /*
  .project_container > .small-naming{
    border: 0px solid var(--beforeshadow);
    transition: border 0.9s ease-in-out;
    width: 50%;
    text-align: center;
  }
  
  .project_container:hover .small-naming{
    transition: border 0.9s ease-in-out;
    border-bottom: 5px solid var(--emphasis);
  }
  */

  .proj-naming{
    color: var(--projname);
  }
  
  .proj{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 50px;
    max-width: 1500px;
  }
  
  .proj-img{
    height: auto;
    width: auto;
    /*background: linear-gradient(#a2c4cd, #4a3d8d);*/
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 0 50px;
    position: relative;
  }
  
  .proj-laptop{
    height: auto;
    width: 100%;
    border: solid #00000000 5px;
    border-radius: 25px;
    /*box-shadow: 5px 5px 5px 5px #00000096;*/
    scale:1;
    transition: 0.5s ease-in-out;
  }
  
  .proj-mobile {
    height: 50%;
    width: 18%;
    border: solid #29285b 5px;
    border-radius: 15px;
    box-shadow: -5px 5px 10px 1px #00000096;
    position: absolute;
    bottom: 30px;
    right: 30px;
    scale:1;
    transition: 0.5s ease-in-out;
  }
  
  .proj1-img:hover .proj-laptop{
    scale:0.95;
    transition: 0.5s ease-in-out;
  }
  
  .proj2-img:hover .proj-laptop{
    scale:0.95;
    transition: 0.5s ease-in-out;
  }
  
  .proj3-img:hover .proj-laptop{
    scale:0.95;
    transition: 0.5s ease-in-out;
  }

  .proj-text{
    text-align: left;
    padding: 0 50px;
    align-content: center;
  }

  .proj-text h1{
    font-family: Geneva, Verdana, sans-serif;
  }

  .proj-github-button{
    background-color: #2E2E2F;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 20px 0;
    transition: 0.5s ease-in-out;
  }

  .proj-github-button:hover{
    cursor: pointer;
    background-color: var(--projname);
    color: black;
  }
  
  /*--------------------------------*/
  /*-------------skills---------------*/
  .skill_container{
    height: 70vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--bgblue), transparent, var(--bgblue)), url("contents/skill_background.jpg");
    background-size: cover;
  }
  
  .skill-paragraph{
    text-align: center;
  }

  .skill_container .skill-paragraph > .small-naming{
    border: 0px solid var(--beforeshadow);
    transition: border 0.9s ease-in-out;
  }
  
  .skill_container:hover .skill-paragraph > .small-naming{
    transition: border 0.9s ease-in-out;
    border-bottom: 5px solid var(--emphasis);
  }
  
  .skill-icons{
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
  }
  
  .skill-icons > div{
    padding: 20px 5vw;
    background-color: #bbc5c9;
    border-radius: 25%;
    margin: 10px;
  }
  
  .skill_container img{
    width: 110px;
    height: 100px;
  }
  
  .side-border{
    border-left: 4px solid var(--emphasis);
    border-right: 4px solid var(--emphasis);
  }
  
  .fa-code, .fa-terminal, .fa-cogs{
    font-size: xxx-large;
    color: var(--emphasis);
  }
  
  
  /*--------------------------------*/
  /*-------------contact---------------*/
  
  .contact_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    margin: 50px 0;
  }
  
  form{
    width: 60%;
    max-width: 500px;
    color: var(--textcolor);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--emphasis);
    transition: box-shadow 0.9s ease-in-out;
    box-shadow: 0px 0px 0px 0px var(--beforeshadow);
  }
  
  form input, textarea{
    width: 70%;
    padding: 8px;
    margin: 10px 0;
    background-color: white;
    border: none;
    border-radius: 2px;
  }
  
  form input:hover, textarea:hover{
    box-shadow: 0px 0px 10px var(--emphasis);
  }
  
  form button{
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;
    background-color: var(--emphasis);
    color: var(--bgblue);
  }
  
  form button:hover{
    box-shadow: 0px 0px 40px var(--emphasis);
  }

  .contact_container:hover form {
    transition: box-shadow 0.9s ease-in-out;
    box-shadow: 20px -20px 1px 0px var(--shadow);
  } 
  /*--------------------------------*/
  /*-------------footer---------------*/
  footer{
    font-size: 12px;
    text-align:center;
  }
  /*--------------------------------*/
  
  @media only screen and (max-width: 1320px){
    .home_container{
      padding-left: 15vw;
    }
  }
  
  @media only screen and (max-width: 1030px){
    .home_container{
      padding-left: 8vw;
    }
    
    .pfp{
      border: 2px solid var(--emphasis);
      padding: 13px;
    }
    
    
  }
  
  @media only screen and (max-width: 800px){
    .home_container{
      font-size: 60px;
    }
    .icons li{
      font-size: large;
      }
    .naming{
      font-size: 60px;
    }
    .small-naming{
      font-size: 30px;
    }
    .smaller-naming{
      font-size: 12px;
    }
    
    .about_container{
      flex-direction: column-reverse;
      height: auto;
    }
    
    .pfp{
      border-radius: 50% 50% 0 0;
    }
    
    .about-paragraph{
      width:40vw;
    }

    .proj-container{
      grid-template-columns: repeat(1, 1fr);
    }

    .proj{
      grid-template-columns: repeat(1, 1fr);
    }
    
    .skill-icons{
      flex-direction: column;
    }
    
    .skill-icons > div{
      width: 50%;
    }
    .skill_container{
      height:auto;
    }
    
    .skill-paragraph{
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 550px){

    .icons li{
      font-size: large;
      }

    .fa-bars{
      display: block !important;
    }
    
    .no-bar{
      display: none;
    }

    .about_container{
      padding-top: 50vh;
    }
    
    .about-paragraph{
      width:70vw;
    }

    .proj-img{
      padding:10px;
    }

    .proj-text{
      padding:0;
    }
    
    .skill_container{
      height: fit-content;
    }
    
    .skill-icons{
      flex-direction: column;
    }
    
    .skill-icons > div{
      padding: 5vw 0;
      width: 80%;
    }
    
    .side-border{
      border-left: none;
      border-right: none;
      border-top: 2px solid var(--emphasis);
      border-bottom: 2px solid var(--emphasis);
    }
    
    .skill-icons > div{
      padding: 5vw 0;
      width: 80%;
    }
    
  }
  