:root {
    --bgblue: #0a192b;
    --tpwhite: rgba(255, 255, 255, 0.2);
    --nav: #272b4391;
    --textcolor: white;
    --emphasis: cyan;
    --shadow: #435e6f;
    --overlap: #132e41d6;
  }
  
  *{
    font-family:'Courier New', monospace;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  body{
    margin:0;
    background-color: var(--bgblue);
    color: var(--textcolor);
  }
  
  .top_nav{
    background-color: var(--nav);
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
    height: 50px;
    transition: 2s ease;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .top_nav_desktop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .yes-bar{
    padding-left: 10px;
  }
  
  .top_link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .top_nav ul{
    list-style: none;
  }
  
  .top_nav li{
    padding-right: 20px;
  }
  
  .icons{
    position: sticky;
    top:20vh;
    display: flex;
    justify-content: end;
    padding: 20px;
  }
  
  .icons li{
    list-style: none;
    font-size: 20px;
    padding-top: 15px;
  }
  
  .icons ul{
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .v-line{
    border-left: 2px solid cyan;
    height: 50px;
  }
  
  nav a{
    text-decoration: none;
    color: var(--textcolor);
  }
  
  .fa-bars{
    display:none !important;
    cursor: pointer;
  }
  
  #mobile_nav{
    width:100%;
    height:100px;
    opacity:0;
    transition: 2s ease;
    position: absolute;
    top: 50px;
    right: -100%;
  }
  
  #mobile_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    transition: 3s ease;
    opacity:0;
    position: absolute;
    right: -100%;
  }
  
  /*-------------home---------------*/
  .home_container{
    height: 70vh;
    min-height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    font-size: 80px;
    padding-left: 20vw;
    padding-right: 40px;
  }
  
  .naming{
    color: var(--emphasis);
    font-weight: bold;
    font-family: Geneva, Verdana, sans-serif;
  }
  
  .small-naming{
    font-size: 50px;
  }
  
  .smaller-naming{
    font-size: 18px;
  }
  
  /*--------------------------------*/
  /*-------------about---------------*/
  .about_container{
    height: 60vh;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 16vw;
  }
  
  .about-paragraph{
    width:30vw;
    text-align: center;
  }
  
  .pfp{
    width: 200px;
    max-width:500px;
    border: 5px solid var(--emphasis);
    box-shadow: 15px -15px 1px 0px var(--shadow);
    padding: 20px;
  }
  
  /*--------------------------------*/
  /*-------------project---------------*/
  .project_container{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project1{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 50px;
    box-shadow: 0px 0px 5px 5px white;
  }
  
  .all-projects{
    display:grid;
    grid-template-columns: 1fr 1fr; 
  }
  
  .project1-bg{
    height: 300px;
    width: 500px;
  }
  
  .project1 button{
    height: 300px;
    border:none;
    background-color: var(--tpwhite);
    color: var(--textcolor);
    width: 40px;
  }
  
  .project-text{
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    height: 300px;
    width: 0px;
    left: 40px;
    text-align: center;
    color: var(textcolor);
    background-color: var(--overlap);
  }
  
  .project1 button:hover + .project-text, .project1 button:hover + .project-text div, .project-text:hover{
    opacity:1;
    width: 500px;
  }
  
  .project-text:hover > .project-text-inner, .project-text-inner:hover{
    opacity:1;
    width: 500px;
  }
  
  .project-text div{
    transition: 0.2s ease;
    opacity: 0;
  }
  
  .project-info{
    width:500px;
    padding: 0 40px;
  }
  
  /*--------------------------------*/
  /*-------------skills---------------*/
  .skill_container{
    height: 70vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .skill-paragraph{
    text-align: center;
  }
  
  .skill-icons{
      height: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
  }
  
  .skill-icons > div{
    padding: 0 5vw;
  }
  
  .skill_container img{
    width: 110px;
    height: 100px;
  }
  
  .side-border{
    border-left: 2px solid var(--emphasis);
    border-right: 2px solid var(--emphasis);
  }
  
  .fa-code, .fa-terminal, .fa-cogs{
    font-size: xxx-large;
    color: var(--emphasis);
  }
  
  
  /*--------------------------------*/
  /*-------------contact---------------*/
  
  .contact_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
  }
  
  form{
    width: 60%;
    max-width: 500px;
    box-shadow: 20px -20px 1px 0px var(--shadow);
    color: var(--textcolor);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--emphasis);
  }
  
  form input, textarea{
    width: 70%;
    padding: 8px;
    margin: 10px 0;
    background-color: white;
    border: none;
    border-radius: 2px;
  }
  
  form input:hover, textarea:hover{
    box-shadow: 0px 0px 10px var(--emphasis);
  }
  
  form button{
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;
    background-color: var(--emphasis);
    color: var(--bgblue);
  }
  
  form button:hover{
    box-shadow: 0px 0px 40px var(--emphasis);
  }
  /*--------------------------------*/
  /*-------------footer---------------*/
  footer{
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  /*--------------------------------*/
  
  @media only screen and (max-width: 1320px){
    .home_container{
      padding-left: 15vw;
    }
    
    .project1-bg{
      width: 380px;
      height: 220px;
    }
    
    .project1 button{
      height: 220px;
    }
    
    .project-text{
      height: 220px;
    }
    
    .project1 button:hover + .project-text, .project1 button:hover + .project-text div, .project-text:hover{
    width: 380px;
  }
  
  .project-text:hover > .project-text-inner, .project-text-inner:hover{
    width: 380px;
  }
  }
  
  @media only screen and (max-width: 1080px){
    .project1{
      margin: 30px;
    }
  }
  
  @media only screen and (max-width: 1030px){
    .home_container{
      padding-left: 8vw;
    }
    
    .pfp{
      width: 132px;
      border: 2px solid var(--emphasis);
      box-shadow: 10px -10px 1px 0px var(--shadow);
      padding: 13px;
    }
    
    .all-projects{
      grid-template-columns: 1fr;
    }
    
  }
  
  @media only screen and (max-width: 800px){
    .home_container{
      font-size: 60px;
    }
    .small-naming{
      font-size: 30px;
    }
    .smaller-naming{
      font-size: 12px;
    }
    
    .about_container{
      flex-direction: column-reverse;
    }
    
    .pfp{
      border-radius: 50% 50% 0 0;
    }
    
    .about-paragraph{
      width:40vw;
    }
  }
  
  @media only screen and (max-width: 550px){
    
    .fa-bars{
      display: block !important;
    }
    
    .no-bar{
      display: none;
    }
    
    .about-paragraph{
      width:70vw;
    }
    
      .project1-bg{
      width: 250px;
      height: 300px;
      box-shadow: 10px -10px 1px 0px var(--shadow);
    }
    
    
    .project1 button{
      height: 300px;
      width: 25px;
    }
    
    .project-text{
      height: 300px;
      left: 25px;
    }
    
    .project1 button:hover + .project-text, .project1 button:hover + .project-text div, .project-text:hover{
    width: 250px;
  }
  
    .project-text:hover > .project-text-inner, .project-text-inner:hover{
    width: 250px;
  }
    
    .skill_container{
      height: fit-content;
    }
    
    .skill-icons{
      flex-direction: column;
    }
    
    .skill-icons > div{
      padding: 5vw 0;
    }
    
    .side-border{
      border-left: none;
      border-right: none;
      border-top: 2px solid var(--emphasis);
      border-bottom: 2px solid var(--emphasis);
    }
    
    
  }
  